@charset "UTF=8";

/*Fonte baixada pelo Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*Fonte baixada via donwload do DA FONTS 
PERCEBA O .. ANTES DO DIRETÓRIO É PARA VOLTAR A PASTA
*/
@font-face {
    font-family: 'Android';
    src: url(../fontes/IDroid.otf);
}

/* ESSA PSEUDO CLASSE :ROOT{} ESTÁ MEIO QUE FAZENDO UM CATÁLOGO DAS CORES E FONTES QUE SERÃO USADAS NOS PROJETOS, SE POR ACASO ALGUM DIA EU QUERER MUDAR É SOMENTE TROCAR AQUI QUE VALERÁ EM TODOS OS VALORES QUE ELA ESTIVER INSERIDO*/
:root{
    --cor0: #c5ebd6;
    --cor1: #83E1AD;
    --cor2: #3DDC84;
    --cor3: #2FA866;
    --cor4: #1A5C37;
    --cor5: #063d1e;
    --fonte0: Arial, Helvetica, sans-serif;
    --fonte1: 'Bebas Neue', 'cursive';
    --fonte2: 'Android', 'cursive';
}

/*SELETOR GLOBAL PARA O SITE ASSIM VC ESTÁ TIRANDO A MARGIN E O PADDING DE TODOS OS ELEMENTOS DO SITE*/
*{
    margin: 0;
    padding: 0;
}

/* Agora vc usa o VAR() para colocar as cores e fontes catalogadas no pseudo :root{}*/

body{
    font-family: var(--fonte0);
    color: var(--cor0);
    background-color: var(--cor1);
}

header{
    /*EFEITO DEGRADÊ NO HEADER*/
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    padding-top: 40px;   
}

header  h1{
    color: white;
    text-align: center;
    font-size: 3em;
    font-family: var(--fonte1);
    margin-bottom: 20px;
    text-shadow: 20px 20px 20px black;
}

header  p{
    font-size: 1.2em;
    font-family: var(--fonte0);
    color: white;
    text-align: center;
    margin: auto;
    padding-bottom: 50px;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 20px black;
}

nav{
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.501);
}

nav a{
    color: var(--cor1);
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    /* TAG NOVA *** ELA FAZ MEIO QUE UM DELAY NA TRANSIÇÃO DO HOVER*/
    transition-duration: 0.5s;
}

nav a:hover{
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 5px;
}

main{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
}

main article h1{
    text-align: center;
    color: var(--cor5);
    font-family: var(--fonte2);
    background-color: var(--cor2);
}

main article h2{
    font-family: var(--fonte2);
    color: var(--cor4);
        /*OUTRA FORMA DE BACKGROUND GRADIENTE*/
    background-image: linear-gradient(to right, var(--cor0), transparent);
    text-indent: 10px;
}

main article p{
    font-family: var(--fonte0);
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-align: justify;
    margin: 15px 0px;
    text-indent: 30px;
    line-height: 2em;
}

main strong{
    color: var(--cor4);
    font-weight: bolder;
    padding: 2px 6px;

}
main a{
    text-decoration: underline;
    font-weight: bolder;
    color: var(--cor4);
    padding: 2px 6px;
    background-color: var(--cor0);
}

/*ESTAMOS COLOCANDO O EMOJI DO LINK PARA OS LINKS DO MAINS*/
main a::after{
    content: '00A0\1F517';
}

main a:hover{
    border-radius: 2px;
    background-color: var(--cor1);
    text-decoration: underline;
    color: var(--cor3);
}
          /* QUALQUER DUVIDA PARA POSIÇÃO DE VIDEO NO SITE OLHAR ESSE VIDEO */
/*<iframe width="560" height="315" src="https://www.youtube.com/embed/u9NE0jInb_c?start=228" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*/
div.video{
    background-color: var(--cor5);
    margin: 0px -22px 30px -22px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}


img{
    width: 100%;
}

/*AQUI ESTOU USANDO A TAG DE IMAGENS PARA CENTRALIZAR A IMAGEN PEQUENA, COMO A TAG IMG É ILNLINE LEVEL, COLOCAMOS UM DISPLAY:BLOCK PARA PODER SE TORNAR UM BLOCK E MARGIN AUTO PARA CENTRALIZAR*/
img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

aside{
    line-height: 2em;
    font-size: 1em;
    font-weight: bold;
    color: black;
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.706);
}

aside h3{
    font-size: 1.2em;
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin: -10px -12px 0px -12px;
    border-radius: 10px 10px 0px 0px;
}

aside ul{
    /* FOI PEGO O ESTILO DO EMOJIPEDIA TIRAMOS O U+ DO SITE E SO COPIAMOS O NÚMERO, COLAMOS NESSA TAG LIST-STYLE-TYPE COM O \ INVERTIDO \\\\\\\\ E ADICIONAMOS 00A0 PARA DAR ESPAÇO DO EMOJI COM O CONTEÚDO*/ 
    list-style-type: '\2714\00A0\00A0';
    /* LIST-STYLE-POSITION É PARA DEIXAR AS BOLINHAS DENTRO DO ASIDE*/
    list-style-position: inside;
    /*COLUMNS É A QTD DE COLUNAS DA LISTA*/
    columns: 2;

}

aside p a:hover{
    background-color: var(--cor2);
}


footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    padding: 5px;
}

footer p a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

footer p a:hover{
    text-decoration: underline;
    color: var(--cor3);
    background-color: var(--cor1);
    border-radius: 2px;
}